body {
    background-color: hsl(0, 0%, 8%);
    color: white;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font: weight 400px;
  font-style: normal;
}

.container {
background-color:  hsl(0, 0%, 12%);
width: 25%;
border-radius: 30px;
padding: 30px;
text-align: center;
margin: 0 auto;
}

img{
    border-radius: 50%;
    width:70%;
}

.location{
  color:hsl(75, 94%, 57%) ;
  margin-top: 8px;
}

#bio{
  margin: 20px 0;
}

.links {
  text-decoration: none;
  color: white;
  display: block;
  background-color:hsl(0, 0%, 20%) ;
  margin: 10px 0;
  padding: 10px;
  border-radius:10px ;
}
